<!--original code-->

<!--<div class="login-form">
    <form method="post">
        <h2 class="text-center">Log in</h2>       
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
</div>
</form>
</div>-->



<!--<div class="container pt-5">
  <div class="row justify-content-sm-center pt-5">
      <div class="col-sm-6 shadow round pb-3">
        <h1 class="text-center pt-3 text-secondary">Registration Form</h1>
          <form [formGroup]="exform">
            <div class="form-group">
              <label class="col-form-label">Email:</label>
              <input formControlName="email" type="text" class="form-control" >
              <small *ngIf="email.invalid && email.touched" class="text-danger">Email is Required</small>
            </div>
            <div class="form-group">
              <label class="col-form-label">Password:</label>
              <input formControlName="password" type="password" class="form-control" name="pass" >
              <small *ngIf="password.invalid && password.touched" class="text-danger">Password is Required</small>
              </div>
              <button (click)="clicksub()" [disabled]="exform.invalid" type="submit" class="btn btn-primary">Login</button>
            </form>
      </div>
  </div>
</div>-->







<!--original code-->

<!--<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <h3>SignIn</h3>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              
                  <div class="form-group">
                      <label>Email</label>
                      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Password</label>
                      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Password is required</div>
                          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                      </div>
                  </div>
                  <div class="form-group">-->



                      <!--<button class="btn btn-primary" [disabled]="!registerForm.valid">Login</button>-->

                    <!--  <input type="submit" class="btnsubmit" value="Login" (click)="loginUser()">


                  </div>
              </form>
          </div>
      </div>
  </div>
</div>-->















<!--code evolution-->



<!--<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>-->



      <!-- form card login -->
      <!--<div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="form-group">
              <label for="uname1">Email</label>
              <input type="text" class="form-control rounded-0" [(ngModel)]="loginUserData.email" name="email" required>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control rounded-0" [(ngModel)]="loginUserData.password" name="password" required>
            </div>
            <button type="button" (click)="loginUser()" class="btn btn-success float-right">Login</button>
          </form>
        </div>-->


        <!--/card-block-->
      <!--</div>-->
      <!-- /form card login -->

    <!--</div>-->


  <!--</div>
</div>-->







<!-- <div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
      <mat-tool-->  

    <!--</mat-card>
  </div>-->


































  <!--<div class="register-photo">
    <div class="form-container">
        <div class="image-holder"></div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
              <h2 class="text-center">LogIn</h2>
              <div class="form-group input-icon">
                  <i class="fa fa-user icon"></i>
                  <input type="text" formControlName="username" class="form-control input-field" placeholder="Username">
                  <small class="text-danger" *ngIf="(r.username.touched || submitted) && r.username.errors?.required">Username is required</small>
  
              </div>
              <div class="form-group input-icon">
                  <i class="fa fa-unlock-alt icon"></i>
                  <input type="password" formControlName="password" class="form-control input-field" placeholder="Password"/>
                  <small class="text-danger" *ngIf="(r.password.touched || submitted) && r.password.errors?.required">Password is required</small>
              </div>
              <div class="form-group">
                  <button class="btn btn-success">
                     
                  
                  <a  (click)=onSubmit(loginForm) *ngIf="!loginService.checkTokenExist()">
                      Submit
                  </a>
              </button>
              </div>
              <div class="form-group">
                  <p >Don't have a account?
                  <a routerLink="/register">Register here</a></p>
              </div>
              <div class="alert alert-danger" *ngIf="serverErrorMessages">
                  {{serverErrorMessages}}
                </div>
          </form>        
          
    </div>
  </div>-->
  


