<div class="img">



<div class="ali">


<table class="table">
  <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Train name</th>
      <th scope="col">General Class Price</th>
      <th scope="col">AC 2-Tier price</th>
      <th scope="col">AC 3-Tier price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Satavahana Express</td>
      <td>200</td>
      <td>300</td>
      <td>400</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Gaya Express</td>
      <td>300</td>
      <td>400</td>
      <td>500</td>
      </tr>
    <tr>
      <th scope="row">3</th>
      <td>Howrah Express</td>
      <td>400</td>
      <td>500</td>
      <td>600</td>
    </tr>



    <tr>
      <th scope="row">4</th>
      <td>Guwahati Express</td>
      <td>120</td>
      <td>200</td>
      <td>300</td>
    </tr>



    <tr>
      <th scope="row">5</th>
      <td>Intercity Express</td>
      <td>300</td>
      <td>500</td>
      <td>600</td>
    </tr>


    <tr>
      <th scope="row">6</th>
      <td>Satabdi Express</td>
      <td>150</td>
      <td>250</td>
      <td>350</td>
    </tr>








  </tbody>
</table>

</div>


</div>